  .bgIMG {
      width: 100%;
      flex: 1;
      background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
          url('../assets/ECNUSakura/3.png') center/cover no-repeat;
      background-size: cover;
      background-position: center;
      padding: 20px 0;
      display: flex;
      justify-content: center;

  }